@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background: #f68f5f;
  background: linear-gradient(45deg, #f68f5f 0%, #ec3368 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43); }

#main-area {
  width: 800px;
  height: 550px;
  padding: 45px;
  border-radius: 0 230px 0 230px;
  -webkit-box-shadow: 0px 10px 70px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 70px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url("../img/unsplash-rough-draft.jpg");
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../img/unsplash-rough-draft.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #main-area .title {
    margin: 0 auto 58px; }
    #main-area .title h1 {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 9px;
      margin-top: -3px; }
      #main-area .title h1 span {
        margin-left: 10px;
        color: #feb332; }
    #main-area .title .underline-accent {
      margin-left: 7px; }
      #main-area .title .underline-accent img {
        width: 100px; }
  #main-area .content {
    margin: 0 auto;
    text-align: center; }
    #main-area .content .name-heading {
      max-width: 380px;
      margin: 0 auto 15px; }
      #main-area .content .name-heading h3 {
        font-size: 1.75rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 12px; }
      #main-area .content .name-heading h5 {
        font-size: 1.42rem;
        font-weight: 300;
        text-transform: capitalize; }
    #main-area .content p {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0 auto 36px;
      max-width: 380px;
      line-height: 1.8;
      letter-spacing: 1px; }
    #main-area .content .acounts-area {
      text-align: center;
      margin-bottom: 1rem; }
      #main-area .content .acounts-area .underline-accent {
        margin-bottom: 17px; }
        #main-area .content .acounts-area .underline-accent img {
          width: 100px; }
      #main-area .content .acounts-area h6 {
        font-size: .85rem;
        font-weight: 500;
        letter-spacing: 6px;
        margin-bottom: 14px;
        text-transform: uppercase; }
      #main-area .content .acounts-area .icon {
        display: inline-block;
        margin: 0 20px;
        padding: 5px; }
        #main-area .content .acounts-area .icon .fab {
          font-size: 30px;
          color: #feb332; }

.code-svg img {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  -webkit-transform: rotate(-20deg) translate(-200px, 0);
  transform: rotate(-20deg) translate(-200px, 0);
  width: 700px; }
