@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  Tablets */
@media only screen and (max-width: 1400px) {
  .accent-img {
    bottom: 0;
    right: 220px !important; } }

/*  Tablets */
@media only screen and (max-width: 1342px) {
  .accent-img {
    bottom: 0;
    right: 200px !important; } }

/*  Tablets */
@media only screen and (max-width: 1310px) {
  .accent-img {
    bottom: 0;
    right: 180px !important; } }

/*  Tablets */
@media only screen and (max-width: 1270px) {
  .accent-img {
    bottom: 0;
    right: 150px !important; } }

/*  Tablets */
@media only screen and (max-width: 1200px) {
  .accent-img {
    bottom: 0;
    right: 120px !important; } }

/*  Tablets */
@media only screen and (max-width: 1142px) {
  .accent-img {
    bottom: 0;
    right: 100px !important; } }

/*  Tablets */
@media only screen and (max-width: 1110px) {
  .accent-img {
    bottom: 0;
    right: 80px !important; } }

/*  Tablets */
@media only screen and (max-width: 1110px) {
  .accent-img {
    bottom: 0;
    right: 80px !important; } }

/* Tablets */
@media only screen and (max-width: 960px) {
  .accent-img {
    bottom: 0;
    right: 50px !important; }
    .accent-img img {
      width: 110px !important; } }

/* Phones */
@media only screen and (max-width: 767px) {
  .accent-img {
    right: 45px !important; }
    .accent-img img {
      -webkit-filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25)) !important;
      filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25)) !important;
      width: 105px !important;
      -webkit-transform: rotate(8deg) !important;
      transform: rotate(8deg) !important; }
  #main-area {
    margin: 0 auto !important;
    width: 570px !important;
    height: 530px !important;
    padding: 30px !important;
    border-radius: 0 200px 0 200px !important;
    text-align: left !important; }
    #main-area .main-area-title {
      margin: 0 auto 67px !important; }
      #main-area .main-area-title h1 {
        font-size: 3.2rem !important;
        margin-top: 0 !important; }
      #main-area .main-area-title .underline-accent img {
        width: 80px !important; }
    #main-area .main-area-content .name-heading {
      max-width: 380px;
      margin: 0 auto 18px !important; }
      #main-area .main-area-content .name-heading h3 {
        letter-spacing: .5px;
        font-size: 1.55rem !important;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 12px; }
      #main-area .main-area-content .name-heading h5 {
        font-size: 1.3rem;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: capitalize; }
    #main-area .main-area-content p {
      font-size: 1.2rem !important;
      margin: 0 auto !important; }
    #main-area .main-area-content .acounts-area {
      text-align: center;
      margin-bottom: 0 !important;
      margin-top: 25px; }
      #main-area .main-area-content .acounts-area .underline-accent {
        margin-bottom: 26px !important; }
      #main-area .main-area-content .acounts-area h6 {
        font-size: .87rem;
        font-weight: 500;
        letter-spacing: 5px;
        margin-bottom: 22px !important;
        text-transform: uppercase;
        -webkit-transform: scaleX(1.1);
        transform: scaleX(1.1); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background: #f68f5f;
  background: linear-gradient(45deg, #f68f5f 0%, #ec3368 100%);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.43);
  overflow: hidden;
  height: 100vh;
  width: 100vh; }

.container .accent-img {
  z-index: 5;
  position: absolute;
  bottom: -34px;
  right: 250px;
  -webkit-transform: rotate(18deg) scaleY(-1);
  transform: rotate(18deg) scaleY(-1); }
  .container .accent-img img {
    -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.6));
    width: 130px; }

#main-area {
  width: 800px;
  height: 550px;
  padding: 45px;
  border-radius: 0 230px 0 230px;
  -webkit-box-shadow: 0px 0px 70px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 70px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url("https://i.postimg.cc/4xGGMCqf/unsplash-rough-draft.jpg\a   ");
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("https://i.postimg.cc/4xGGMCqf/unsplash-rough-draft.jpg\a   ");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #main-area .main-area-title {
    margin: 0 auto 62px; }
    #main-area .main-area-title h1 {
      font-size: 3.9rem;
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 13px;
      margin-top: -3px; }
      #main-area .main-area-title h1 span {
        margin-left: 10px;
        color: #feb332; }
    #main-area .main-area-title .underline-accent {
      margin-left: 5px; }
      #main-area .main-area-title .underline-accent img {
        width: 90px; }
  #main-area .main-area-content {
    margin: 0 auto;
    text-align: center; }
    #main-area .main-area-content .name-heading {
      max-width: 380px;
      margin: 0 auto 15px; }
      #main-area .main-area-content .name-heading h3 {
        letter-spacing: .5px;
        font-size: 1.7rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 12px; }
        #main-area .main-area-content .name-heading h3 span {
          font-style: italic;
          margin: 0 6px 0 -3.5px; }
      #main-area .main-area-content .name-heading h5 {
        font-size: 1.35rem;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: capitalize; }
    #main-area .main-area-content p {
      font-size: 1.18rem;
      font-weight: 300;
      margin: 0 auto 22px;
      max-width: 380px;
      line-height: 1.8;
      letter-spacing: 1.5px;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }
    #main-area .main-area-content .acounts-area {
      text-align: center;
      margin-bottom: 1rem; }
      #main-area .main-area-content .acounts-area .underline-accent {
        margin-bottom: 24px; }
        #main-area .main-area-content .acounts-area .underline-accent img {
          width: 90px; }
      #main-area .main-area-content .acounts-area h6 {
        font-size: .87rem;
        font-weight: 500;
        letter-spacing: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
        -webkit-transform: scaleX(1.1);
        transform: scaleX(1.1); }
      #main-area .main-area-content .acounts-area .icon {
        display: inline-block;
        margin: 0 20px;
        padding: 5px;
        position: relative;
        z-index: 10; }
        #main-area .main-area-content .acounts-area .icon .fab {
          font-size: 30px;
          color: #fff;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
          #main-area .main-area-content .acounts-area .icon .fab:hover {
            color: #feb332 !important;
            -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4)); }
