@import "reset";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import "media-queries";

$text-shadow: 0px 0px 15px rgba(0,0,0,0.43);
$orange: #f68f5f;
$red-pink: #ec3368;
$yellow: #feb332;

*{
  box-sizing: border-box;
}

body{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background: rgb(246,143,95);
  background: linear-gradient(45deg, rgba(246,143,95,1) 0%, rgba(236,51,104,1) 100%);
  text-shadow: $text-shadow;
  overflow: hidden;
  height: 100vh;
  width: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  .accent-img{
    z-index: 5;
    position: absolute;
    bottom: -34px;
    right: 250px;
    transform: rotate(18deg) scaleY(-1);

    img{
      filter: drop-shadow( 0px 0px 50px rgba(0,0,0,.6)); 
      width: 130px;
    }
  }
}

#main-area{
  width: 800px;
  height: 550px;
  padding: 45px;
  border-radius: 0 230px 0 230px;
  box-shadow: 0px 0px 70px 25px rgba(0,0,0,0.2);
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    rgba(50, 50, 50, .5), 
    rgba(50, 50, 50, .5)
  ), url("https://i.postimg.cc/4xGGMCqf/unsplash-rough-draft.jpg
  ");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .main-area-title{
    margin: 0 auto 62px;
 
    h1{
      font-size: 3.9rem;
      text-transform: uppercase;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 13px;
      margin-top: -3px;

      span{
        margin-left: 10px;
        color: $yellow;
      }
    }
    
    .underline-accent{
      margin-left: 5px;
      
      img{
        width: 90px;
      }
    }
  }
  
  .main-area-content{
    margin: 0 auto;
    text-align: center;

    .name-heading{
      max-width: 380px;
      margin: 0 auto 15px;

      h3{
        letter-spacing: .5px;
        font-size: 1.7rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 12px;

        span{
          font-style: italic;
          margin: 0 6px 0 -3.5px;
        }
      }

      h5{
        font-size: 1.35rem;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: capitalize;        
      }
    }

    p{
      font-size: 1.18rem;
      font-weight: 300;
      margin: 0 auto 22px;
      max-width: 380px;
      line-height: 1.8;
      letter-spacing: 1.5px;
      text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    }

    .acounts-area{
      text-align: center; 
      margin-bottom: 1rem;

      .underline-accent{
        margin-bottom: 24px;

        img{
          width: 90px;
        }
      }

      h6{
        font-size: .87rem;
        font-weight: 500;
        letter-spacing: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
        transform: scaleX(1.1);
      }

      .icon{
        display: inline-block;
        margin: 0 20px;
        padding: 5px;
        position: relative;
        z-index: 10;
        
        .fab{
          font-size: 30px;
          color: #fff;
          transition: all .2s ease-in-out;

          &:hover{
            color: $yellow !important;
            filter: drop-shadow( 0px 0px 15px rgba(0,0,0,.4)); 
          }
        }
      }
    }
  }
}




