@import "reset";
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700,800,800i');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');

$text-shadow: 0px 0px 10px rgba(0,0,0,0.43);
$orange: #f68f5f;
$red-pink: #ec3368;
$yellow: #feb332;

*{
  box-sizing: border-box;
}

body{
  // font-family: 'Poppins', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background: rgb(246,143,95);
  background: linear-gradient(45deg, rgba(246,143,95,1) 0%, rgba(236,51,104,1) 100%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-shadow: $text-shadow;
  // text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vh;
}

.container{
  // height: 100vh;
  // width: 100vh;
  // overflow: hidden;

  .accent-img{
    z-index: 5;
    position: absolute;
    // top: -79px;
    // bottom: -84px;
    bottom: -34px;
    // bottom: 0;
    right: 17.5%;
    transform: rotate(18deg) scaleY(-1);
    // rotate(-35deg)
    img{
      filter: drop-shadow( 0px 0px 50px rgba(0,0,0,.6)); 
      width: 130px;
      // height: 500px;
    }
  }
}
#main-area{
  // display: none;
  width: 800px;
  height: 550px;
  padding: 45px;
  border-radius: 0 230px 0 230px;
  box-shadow: 0px 0px 70px 25px rgba(0,0,0,0.2);
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    rgba(50, 50, 50, .5), 
    rgba(50, 50, 50, .5)
  ), url("https://i.postimg.cc/4xGGMCqf/unsplash-rough-draft.jpg
  ");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .title{
    // margin-bottom: 51px;
    margin: 0 auto 62px;
    // text-align: center;
    // max-width: 380px;

    h1{
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 11px;
      margin-top: -3px;

      span{
        margin-left: 10px;
        font-weight: 700;
        color: $yellow;
      }
    }
    
    .underline-accent{
      // position: relative;
      // left: -63px;
      margin-left: 5px;
      
      img{
        width: 99px;
        // height: 10px;
        // margin-left: -23px;
      }
    }
  }
  
  .content{
    margin: 0 auto;
    // max-width: 500px;
    text-align: center;

    .name-heading{
      max-width: 380px;
      // margin-bottom: 20px;
      margin: 0 auto 15px;
      h3{
        font-size: 1.75rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 12px;

        span{
          // color: $yellow;
          font-style: italic;
          margin: 0 8px 0 0px;
          // font-weight: 300;
        }
      }
      h5{
        font-size: 1.42rem;
        letter-spacing: 2px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
    p{
      font-size: 1.18rem;
      font-weight: 300;
      margin: 0 auto 22px;
      max-width: 380px;
      line-height: 1.8;
      letter-spacing: 1.5px;
    }
    .acounts-area{
      text-align: center; 
      margin-bottom: 1rem;

      .underline-accent{
        margin-bottom: 24px;
        img{
          width: 90px;
        }
      }

      h6{
        font-size: .87rem;
        font-weight: 500;
        letter-spacing: 6px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .icon{
        display: inline-block;
        margin: 0 20px;
        padding: 5px;
        position: relative;
        z-index: 10;
        
        // &.active{
        //   color: $yellow !important;
        //   box-shadow: 0px 0px 40px 10px rgba(51,51,51,.3);
        // }

        .fab{
          font-size: 30px;
          color: #fff;
          transition: all .2s ease-in-out;

          &:hover{
            color: $yellow !important;
            // font-size: 35px;
          }
        }
      }
    }
  }
}
